body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial,Helvetica,freesans,sans-serif;
}

.container {
    width: 64.5%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.header {
    height: 40px;
    border-bottom: 1px #eee solid;
}

.logo {
    height: 31px;
    margin: 4.5px;
    float: left;
}

.menu {
    width: 672px;
    border-right: 1px #eee solid;
    border-left: 1px #eee solid;
    float: left;
    height: 40px;
}

.menu span {
    position: relative;
    top: 10px;
    margin: 5px 0 5px 12px;
    font-size: 13px;
    font-weight: bold;
}

.menu i{
    float: right;
    margin-right: 16px;
    margin-top: 14px;
}

.menu:hover {
    border-bottom: 5px black solid;
    height: 35px;
}

.buscar {
    float: left;
    height: 40px;
}

.caixa-de-busca {
    margin: 10px;
    background-color: #eee;
    height: 20px;
}

.caixa-de-busca input {
    border-width: 0;
    background-color: transparent;
}

.caixa-de-busca i {
    padding: 2px
}

.titulo {
    height: 64px;
    background-color: #bb1919;
    padding-left: 10px;
}

.titulo img {
    height: 40px;
    margin: 0px;
    margin-top: 12px;
    position: relative;
    padding: 0;
}

.navbar {
    height: 36px;
    background-color: #a91717;
}

.navbar ul {
    height: 26px;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
}

.navbar ul li {
    display: block;
    padding-right: 12px;
    border-right: 1px solid #bb4545;
    float: left;
    padding-left: 12px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}


.ultimo-item-navbar{
    border-right: 0px solid #a91717;
}

.corpo{
    margin-top: 10px;

}

.noticia1{
    width: 65%;
    float: left;
    margin: 0;
    padding-right: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
}

.noticia4{
    position: relative;
    width: 20%;
    margin: 0;
    float: left;
    border-right: 1px solid #eee;
    padding-right: 16px;
    margin-top: 20px
}

.noticia5{
    position: relative;
    width: 20%;
    margin: 0;
    float: left;
    border-right: 1px solid #eee;
    padding-right: 16px;
    margin-top: 20px;
}

.noticiaEscrita1{
    position: relative;
    width: 18%;
    margin: 0;
    float:left;    
    padding-left: 16px;
    margin-top: 2px;
}

.data-noticia-escrita{
    width: 100%;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0;
    color: #5a5a5a;
}

.data-noticia-escrita i{
    float: left;
    margin-right: 10px;
    color: #5a5a5a;
}

.data-noticia-escrita p{
    font-size: 13px;
    float: left;
}

.noticia1 .texto{
    width: 34%;
    float: left;
    margin: 0;
    padding: 0;
    color: #5a5a5a;
}

.noticia1 .texto-baixo{
    width: 34%;
    float: left;
    margin: 0;
    padding: 0;
    color: black;
    margin-top: 20px;
}

.data{
    width: 34%;
    float: left;
    margin-right: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0;
    color: #5a5a5a;
}

.data p{
    font-size: 13px;
}

.data i{
    float: left;
    margin-right: 10px;
    color: #5a5a5a;
}

.noticia4 .texto{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.noticia5 .texto{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0;
    font-size: 31px;
    cursor: pointer;
}

h3{
  font-size: 1rem;
  cursor: pointer;
}

p{
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.noticia1 img{
    cursor: pointer;
    width: 62%;
    float: right;
}

.noticia2 img{
    width: 100%;
    cursor: pointer;
}

.noticia3 img{
    width: 100%;
    margin-top: 40px;
    cursor: pointer;
}

.noticia4 img{
    width: 100%;
    cursor: pointer;
}

.noticia5 img{
    width: 100%;
    cursor: pointer;
}

.noticia-direita{
    width: 31.5%;
    float: right;
    margin-top: 10px;
    margin-right: 18px;
    background-color: #eee;
}

.advertisement{
    margin-top: 20px;
    margin-bottom: 4px;
    text-align: center;
}

.advertisement:hover{
    border-bottom: 1px #404040 solid;
}

.advertisement span{
    font-size: 12px;
    font-weight: bold;
}

.titulo-destaque{
  margin-bottom: 12px;
  color: #404040;
  padding-left: 24px;
  padding-right: 24px;
}

.subtitulo{
  cursor: pointer;
  margin-top: 0;
}
